html, body {
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
}

.header {
    position: absolute;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    background-color: #F55A5A;
    padding: 25px 0;
}

.globe-icon {
    font-size: large;
    color: #FFFFFF;
    margin-right: 4px;
}

.journal {
    position: absolute;
    top: 70px;
    width: 100%;
    display: inline-block;
}

.post {
    width: 800px;
    height: 400px;
    position: relative;
    display: inline-flex;
    margin: 30px 50px;
}

.post-img-keeper {
    position: relative;
    margin-right: 50px;
}

.post-img {
    height: 400px;
    width: 300px;
    border-radius: 10px;
}

.post-content {
    position: relative;
}

.location-line {
    margin-top: 30px;
}

.country {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: #2B283A;
}

.location-icon {
    font-size: x-large;
    color: #F55A5A;
    margin-right: 4px;
}

.location-link {
    color: #918E9B;
    margin-left: 30px;
}

.place {
    font-weight: 700;
    margin-bottom: 40px;
    color: #2B283A;
}

.date-line {
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 10px;
    color: #2B283A;
}

.post-text {
    margin-right: 30px;
    color: #2B283A;
}

.line-near-post {
    border:none;
    width: 35%;
    border-right: 1px solid #F5F5F5;
    box-shadow: 20px 0 20px -30px #333;
}

@media only screen and (max-width: 850px) {
    .journal {
        position: absolute;
        width: 100%;
        display: block;
        top: 70px;
        text-align: center;
    }

    .post {
        width: 80%;
        height: 300px;
        display: inline-flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    .post-img-keeper {
        height: 300px;
        width: 250px;
        margin-right: 30px;
    }

    .post-img {
        height: 300px;
        width: 250px;
    }

    .post-content {
        width: 100%;
    }

    .country {
        font-size: 16px;
    }

    .location-icon {
        font-size: x-large;
    }

    .location-link {
        font-size: 14px;
    }

    .place {
        margin-bottom: 30px;
    }

    .line-near-post {
        position: absolute;
        display: flex;
        width: 100%;
        height: 305px;
        border-bottom: 1px solid #F5F5F5;
        box-shadow: 0 20px 20px -20px #333;
    }
}

@media only screen and (max-width: 450px) {
    .journal {
        position: absolute;
        width: 100%;
        display: block;
        top: 70px;
        text-align: center;
    }

    .post {
        width: 90%;
        height: 200px;
        display: inline-flex;
        justify-content: space-around;
        margin: 20px 5%;
    }

    .post-img-keeper {
        height: 200px;
        width: 150px;
        margin-right: 20px;
    }

    .post-img {
        height: 200px;
        width: 150px;
    }

    .post-content {
        width: 100%;
        height: 200px;
    }

    .location-line {
        margin-top: 10px;
    }

    .location-holder {
        position: relative;
        display: flex;
        text-align: right;
    }

    .country {
        font-size: 10px;
        letter-spacing: 1px;
    }

    .location-icon {
        font-size: small;
    }

    .location-link {
        font-size: 10px;
        margin-left: 10px;
    }

    .place {
        text-align: left;
        font-weight: 500;
        font-size: 8px;
        margin-bottom: 0;
    }

    .line-near-post {
        position: absolute;
        display: flex;
        width: 100%;
        height: 205px;
        border-bottom: 1px solid #F5F5F5;
        box-shadow: 0 20px 20px -20px #333;
    }

    .date-line {
        text-align: left;
        font-weight: 700;
        font-size: 8px;
        margin-top: 0;
        margin-bottom: 0;
        color: #2B283A;
        padding-bottom: 0;
    }

    .post-text {
        margin-right: 2px;
        color: #2B283A;
        font-size: 10px;
        text-align: left;
    }
}